Team 3
Logo: requirements/logo.png

Color Scheme: https://www.canva.com/colors/color-palettes/fairy-flower-girl/

Required Elements
Donation form
Contact Form
Adoption Form
YouTube Video - https://www.youtube.com/watch?v=ao3N-_8LqGg
At least 4 images
Homepage 
List of adoptable animals

You can add as many pages you want and those required elements can live wherever you feel works best. 